body {
  color: #303030 !important;
}

.error-message {
  color: #dc3545;
}

.move-down {
  margin-top: 30px;
}

.error-btn-div {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .error-btn-div {
    line-height: 1;
  }
}
