@using BcGov.Jag.AccountManagement.Shared;
<div class="@NavMenuCssClass">
    <nav class="flex-column navbar-light">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
            <li class="nav-item px-0">
                <NavLink class="nav-link text-dark ps-2" href="" Match="NavLinkMatch.All">
                    <i class="bi bi-house-fill pe-2"></i> Home
                </NavLink>
            </li>
            <li class="nav-item px-0 ">
                <AuthorizeView Roles="@Roles.UserAccessManager">
                    <Authorized>
                        <NavLink class="nav-link text-dark ps-2 text-nowrap" href="manageusers">
                            <i class="bi bi-people-fill pe-2"></i> Manage Users
                        </NavLink>

                        <NavLink class="nav-link text-dark ps-2" href="reports">
                            <i class="bi bi-receipt pe-2"></i> Reports
                        </NavLink>

                        <!-- 
                        <NavLink class="nav-link text-dark ps-2" href="settings">
                            <i class="bi bi-gear pe-2"></i> Settings
                        </NavLink>
                        -->
                    </Authorized>
                </AuthorizeView>
            </li>

            <li class="nav-item px-0">
                @* <NavLink class="nav-link text-dark" href="#"> *@
                <LoginControl />
                @* </NavLink> *@

            </li>
        </ul>
    </nav>
</div>

@code {

    [Parameter]
    public string NavMenuCssClass { get; set; }

    [Parameter]
    public EventCallback<string> NavMenuCssClassChanged { get; set; }
    @* private bool collapseNavMenu = true;

        private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
        collapseNavMenu = !collapseNavMenu;
        } *@
}
