body {
  color: #303030 !important;
  background-color: #dcdcdc !important;
}

.container {
  max-width: 600px !important;
}

.top-spacing {
  padding-top: 30px;
  display: flex;
}

.less-spacing-top {
  top: -10px;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

@media only screen and (max-width: 700px) {
  /* widen box on smaller screens */
  .less-spacing-top {
    width: 90%;
  }

  /* To stack back button on top of current box */
  #wrapper {
    flex-direction: column;
  }
  .backicon-spacing {
    margin-bottom: 30%;
  }
  .top-spacing {
    padding-top: 15px;
  }
}

/* slightly wider for ipad type screens */
@media only screen and (min-width: 701px) and (max-width: 850px) {
  .less-spacing-top {
    width: 55%;
  }
}
