body {
  color: #303030 !important;
}

.container {
  max-width: 600px !important;
  height: 40vh !important;
}

@media only screen and (max-width: 325px) {
  .container {
    height: 45vh !important;
  }
}

.top-spacing {
  padding-top: 30px;
  display: flex;
}

.less-spacing-top {
  position: relative;
  top: -10px;
  width: 50%;
  margin: auto;
}
