body {
  color: #303030 !important;
}

.container {
  max-width: 600px !important;
}

.top-spacing {
  padding-top: 30px;
  display: flex;
}

.less-spacing-top {
  position: relative;
  top: -10px;
  width: 50%;
  margin: auto;
}
