swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: ""
  termsOfService: ""
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "maltd-api.gov.bc.ca"
basePath: "/v1"
tags:
- name: "project"
  description: "Access to projects"
- name: "user"
  description: "Operations about user"
  externalDocs:
    description: "Find out more about our project"
    url: "https://github.com/bcgov/maltd"
schemes:
- "https"
paths:
  /users:
    get:
      tags:
      - "user"
      summary: "Search for a user"
      description: ""
      operationId: "searchUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
        - in: query
          name: q
          type: string
          description: "The exact query value to search for"
      responses:
         200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
         404:
           description: "User not found"
  /users/{username}:
    get:
      tags:
      - "user"
      summary: "Get user by user name"
      description: ""
      operationId: "getUserByName"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "username"
        in: "path"
        description: "The name that needs to be fetched. Use user1 for testing. "
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Invalid username supplied"
        404:
          description: "User not found"
    put:
      tags:
      - "user"
      summary: "Updated user"
      description: "This can only be done by the logged in user."
      operationId: "updateUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "username"
        in: "path"
        description: "name that need to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        400:
          description: "Invalid user supplied"
        404:
          description: "User not found"
  /projects:
    get:
      tags:
      - "project"
      summary: "Lists the projects"
      description: ""
      operationId: "getProjects"
      produces:
      - "application/xml"
      - "application/json"
      responses:
        200:
         description: "successful operation"
         schema:
           $ref: "#/definitions/Project"
securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Project:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
  User:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      username:
        type: "string"
      userStatus:
        type: "integer"
        format: "int32"
        description: "User Status"
    xml:
      name: "User"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"