@page "/settings"
@inject IToastService toastService
@attribute [Authorize]

<div class="m-4">
    <ul class="nav nav-tabs border-2" id="myTab">
        <li class="nav-item">
            <NavLink class="nav-link active px-5 border-0 text-decoration-none mb-0" data-bs-toggle="tab" href="settings#home">Dynamics</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link px-5 border-0 text-decoration-none mb-0" data-bs-toggle="tab" href="settings#profile">Sharepoint</NavLink>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active m-3" id="home">
            <h6 class="mt-4 fw-bold">Dynamics Configuration</h6>
            @if (spinning)
            {
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            } else {       

            <EditForm Model="@resourceModel" OnValidSubmit="@Validate" class="d-flex flex-row w-100 flex-wrap">
            @* <form class="d-flex flex-row w-100 flex-wrap" id="dynamicsForm" onsubmit="submitDynamics(event, 'dynamicsForm')"> *@
                @* @foreach (var field in dynamicsFields)
                { *@
                     <div class="col-6 mb-2 pb-2 pe-4 form-group">
                        <label class="mb-1 col-form-label col-form-label-sm" for="flexRadioDefault">
                            Api Gateway Host
                        </label>
                        <InputText @bind-Value="resourceModel.ApiGatewayHost" required 
                        aria-required="true"  class="form-control form-control-sm" 
                        placeholder="wsgw.dev.jag.gov.bc.ca"/> 
                </div>
                <div class="col-6 mb-2 pb-2 pe-4 form-group">
                        <label class="mb-1 col-form-label col-form-label-sm" for="flexRadioDefault">
                            Api Gateway Policy
                        </label>
                        <InputText @bind-Value="resourceModel.ApiGatewayPolicy" required 
                        aria-required="true"  class="form-control form-control-sm" 
                        placeholder="dynamics"/> 
                </div>
                <div class="col-6 mb-2 pb-2 pe-4 form-group">
                        <label class="mb-1 col-form-label col-form-label-sm" for="flexRadioDefault">
                            Dynamics Url
                        </label>
                        <InputText @bind-Value="dynamicsUrl" required 
                        aria-required="true"  class="form-control form-control-sm" 
                        placeholder="https://hostname/api/data/v9.0/"/> 
                </div>
                <div class="col-6 mb-2 pb-2 pe-4 form-group">
                        <label class="mb-1 col-form-label col-form-label-sm" for="flexRadioDefault">
                            Authorization Url
                        </label>
                        <InputText @bind-Value="authorizationUrl" required 
                        aria-required="true"  class="form-control form-control-sm" 
                        placeholder="https://ststest.gov.bc.ca/adfs/oauth2/token/"/> 
                </div>
                <div class="col-6 mb-2 pb-2 pe-4 form-group">
                        <label class="mb-1 col-form-label col-form-label-sm" for="flexRadioDefault">
                            Client ID
                        </label>
                        <InputText @bind-Value="resourceModel.ClientId" required 
                        aria-required="true"  class="form-control form-control-sm" 
                        placeholder="client id"/> 
                </div>
                <div class="col-6 mb-2 pb-2 pe-4 form-group">
                        <label class="mb-1 col-form-label col-form-label-sm" for="flexRadioDefault">
                            Client Secret
                        </label>
                        <InputText @bind-Value="resourceModel.ClientSecret" required 
                        aria-required="true"  class="form-control form-control-sm" /> 
                </div>
                <div class="col-6 mb-2 pb-2 pe-4 form-group">
                        <label class="mb-1 col-form-label col-form-label-sm" for="flexRadioDefault">
                            Username
                        </label>
                        <InputText @bind-Value="resourceModel.Username" required 
                        aria-required="true"  class="form-control form-control-sm" 
                        placeholder="username@idir"/> 
                </div>
                <div class="col-6 mb-2 pb-2 pe-4 form-group">
                        <label class="mb-1 col-form-label col-form-label-sm" for="flexRadioDefault">
                            Password
                        </label>
                        <InputText @bind-Value="resourceModel.Password" required 
                        aria-required="true"  class="form-control form-control-sm" /> 
                </div>
                @* } *@
                <div class="col-12 my-4 pb-2 pe-4 form-group w-100">
                    <button class="btn btn-primary w-100" type="submit">Validate</button>
                </div>
                </EditForm>
                if(successValidate is not null && successValidate.Value == true) {
                    toastService.ShowSuccess("Configurations tested Successfully");
                } else if(successValidate is not null && successValidate.Value == false) {
                    toastService.ShowError("Not able to connect. Please try again");
                }
            }
            @* </form> *@
        </div>
        <div class="tab-pane m-3" id="profile">
            <h6 class="mt-4 fw-bold">Sharepoint Configuration</h6>
            <form class="d-flex flex-row w-100 flex-wrap" id="sharepointForm" onsubmit="submitDynamics(event, 'sharepointForm')">
                @foreach (var field in sharepointFields)
                {
                     <div class="col-6 mb-2 pb-2 pe-4 form-group">
                        <label class="mb-1 col-form-label col-form-label-sm" for="flexRadioDefault">
                            @field.Label
                        </label>
                    
                        <input class="form-control form-control-sm" name=@field.Name required aria-required="true" placeholder=@field.Placeholder />
                    
                </div>
                }
                <div class="col-12 my-4 pb-2 pe-4 form-group w-100">
                    <button class="btn btn-primary w-100" @onclick="Validate">Validate</button>
                </div>
            </form>
        </div>
    </div>
</div>


@code{
    private FormField[] dynamicsFields = new FormField[] {
            new FormField { Label = "Api Gateway Host", Name = "ApiGatewayHost", Placeholder = "wsgw.dev.jag.gov.bc.ca" },
            new FormField { Label = "Api Gateway Policy", Name = "ApiGatewayPolicy", Placeholder = "dynamics" },
            new FormField { Label = "Dynamics Url", Name = "Resource", Placeholder = "https://hostname/api/data/v9.0/" },
            new FormField { Label = "Authorization Url", Name = "AuthorizationUri", Placeholder = "https://ststest.gov.bc.ca/adfs/oauth2/token/" },
            new FormField { Label = "Username", Name = "Username", Placeholder = "username@idir" },
            new FormField { Label = "Password", Name = "Password" },
    };

    private FormField[] sharepointFields =  new FormField[] {
            new FormField { Label = "Api Gateway Host", Name = "ApiGatewayHost", Placeholder = "wsgw.dev.jag.gov.bc.ca" },
            new FormField { Label = "Api Gateway Policy", Name = "ApiGatewayPolicy", Placeholder = "sharepoint" },
            new FormField { Label = "SharePoint Url", Name = "Resource", Placeholder="https://sharepoint-host" },
            new FormField { Label = "Authorization Url", Name = "AuthorizationUri", Placeholder = "https://ststest.gov.bc.ca/adfs/services/trust/2005/UsernameMixed" },
            new FormField { Label = "Relying Party Identifier", Name = "RelyingPartyIdentifier", Placeholder = "urn:something" },
            new FormField { Label = "Username", Name = "Username", Placeholder = "IDIR\\username" },
            new FormField { Label = "Password", Name = "Password" },
    };

    public class FormField
    {
        public string Label { get; set; }
        public string Name { get; set; }
        public string Placeholder { get; set; }
    }
}