@inherits LayoutComponentBase

<div class="flex-column w-100">
    <header class="d-flex justify-content-between navbar-dark navbar-expand-lg">
        <div class="banner">
            <a href="/">
                <img src="images/BC_Logo_Horizontal.svg" alt="Go to the Government of British Columbia website"
                    style="width: 175px; height: 65px;" />
            </a>
            <h2 class="ms-5 mb-0">Account Management</h2>
        </div>
        <div class="d-flex text-end align-items-center">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggler01" aria-controls="navbarToggler01" aria-expanded="false"
                    aria-label="Toggle navigation" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!--
            This place is for anything that needs to be right aligned
            beside the logo.
        -->
        </div>
    </header>

    <main class="row mx-0 wrapper ">
        <div class="sidebar px-0 col-2 @navMenuCssClass" id="navbarToggler01">
            <NavMenu @bind-navMenuCssClass="navMenuCssClass" />
        </div>
        <article class="content px-4 col-10">
            @Body
        </article>
    </main>

    <footer class="footer">
        <div class="container">
        </div>
    </footer>
    
</div>

@code {
    private static bool collapseNavMenu = true;
    private string navMenuCssClass = "collapse";
    private async void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        navMenuCssClass = collapseNavMenu ? "collapse" : null;
    }
}
