.large-size {
  font-size: large;
}

.project-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.project-list-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-list-item p {
  margin-bottom: 5px;
}

.pointer {
  cursor: pointer;
}
