th {
  font-weight: normal;
}

.big-font {
  font-size: large;
  margin-bottom: 1vh;
  border-bottom: 1px solid lightgrey;
}

.drop-plus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-projects {
  display: flex;
}

.cols {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error-message {
  color: #dc3545;
  padding-top: 20px;
}
