th {
  font-weight: normal;
}

.big-font {
  font-size: large;
}

.drop-plus {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-right: 1em;
}

.top-projects {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.cols {
  display: flex;
  flex-direction: column;
}
