th {
  font-weight: normal;
}

.big-font {
  font-size: large;
}

.drop-plus {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 2em;
}

.top-projects {
  display: flex;
}

.cols {
  display: flex;
  flex-direction: column;
  width: 100%;
}
