.general-button {
  width: 150px !important;
  height: 40px !important;
  color: #ffffff !important;
}

/* Bootstrap .btn CSS override */
.btn:focus {
  box-shadow: none !important;
}

/* Bootstrap .btn-primary CSS override */
.btn-primary {
  background-color: #4788c4 !important;
  border-color: #979797 !important;
  opacity: 0.75 !important;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #4788c4 !important;
  border-color: #979797 !important;
  opacity: 1 !important;
}

.btn-primary:disabled,
.btn-primary.disabled,
.btn-primary:visited {
  background-color: #4788c4 !important;
  border-color: #979797 !important;
  opacity: 0.5 !important;
}

/* Bootstrap .btn-danger CSS override */
.btn-danger {
  background-color: #dc3545 !important;
  border-color: #979797 !important;
  opacity: 0.75 !important;
}

.btn-danger:active,
.btn-danger:hover,
.btn-danger:focus {
  background-color: #dc3545 !important;
  border-color: #979797 !important;
  opacity: 1 !important;
}

.btn-danger:disabled,
.btn-danger.disabled,
.btn-danger:visited {
  background-color: #dc3545 !important;
  border-color: #979797 !important;
  opacity: 0.5 !important;
}
