@page "/reports"
@using BcGov.Jag.AccountManagement.Client.Data
@using BcGov.Jag.AccountManagement.Shared;
@attribute [Authorize(Roles = Roles.UserAccessManager)]

@inject IRepository _repository;
@inject IJSRuntime JS

<h1>Reports Page</h1>

<button class="btn btn-primary" @onclick="DownloadReport">
    Download Dynamics User Access Report
</button>

@code {

    private async Task DownloadReport()
    {
        var fileStream = await _repository.GetUserAccessReportAsync();
        var fileName = $"dynamics-user-access-report-{DateTime.Now:yyyy-MM-dd_HH-mm}.csv";

        using var streamRef = new DotNetStreamReference(stream: fileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }
}
