.inline-block {
  display: inline-block !important;
  /* margin-top: -10px;
  margin-left: 20px; */
  margin-right: 1em;
  margin-left: 1em;
  /* margin-top: -25px; */
}

@media only screen and (max-width: 500px) {
  .inline-block {
    margin-left: 0em;
  }
}
