<tr>
    <td class="text-center"><input @ref=inputElement type="checkbox" checked="@ProjectChecked" @onchange="OnProjectChange" /></td>
    <td>@RowData.ProjectName</td>

    <td class="text-left">
        @if (RowData.Dynamics is not null)
        {
            <input type="checkbox" checked="@RowData.Dynamics" @onchange="OnDynamicsChange" />
        }
        else
        {
            <input type="checkbox" disabled="disabled" />
        }
    </td>

    <td class="text-left">
        @if (RowData.SharePoint is not null)
        {
            <input type="checkbox" checked="@RowData.SharePoint" @onchange="OnSharePointChange" />
        }
        else
        {
            <input type="checkbox" disabled="disabled" />
        }
    </td>
</tr>
