
<table class="table">
    <thead>
        <tr><td>Access</td><td>Project</td><td>Dynamics</td><td>SharePoint</td></tr>
    </thead>
    <tbody>
        @if (RowsData is not null)
        {
            @foreach (var row in RowsData)
            {
                <UserMembershipRow RowData=@row />
            }
        }
    </tbody>
</table>
