.input-field {
  width: 100% !important;
  font-family: "Open Sans", sans-serif !important;
}

.form-control {
  color: #303030 !important;
  border: 1px solid #979797 !important;
}

.form-control:focus {
  border-color: #979797 !important;
  box-shadow: none !important;
}

.form-control.is-valid {
  border: 1px solid #71d321 !important;
  background-image: none !important;
}

.form-control.is-invalid {
  border: 1px solid #dc3545 !important;
  background-image: none !important;
}

input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif !important;
  font-style: italic !important;
  color: #808080 !important;
}

input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif !important;
  font-style: italic !important;
  color: #808080 !important;
}

input::placeholder {
  font-family: "Open Sans", sans-serif !important;
  font-style: italic !important;
  color: #808080 !important;
}
